.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content-wrapper {
  flex: 1;
  margin-left: 17%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden !important;
}
.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-layout .content-wrapper {
  width: 100%;
  flex: 0 0 80%;
  transition: all 0.3s ease-in-out;
}
.main-layout .content-wrapper .toggle {
  width: 100%;
  flex: 0 0 100%;
}
.right-content {
  flex: 1;
  margin-left: 5%;
  padding: 90px 30px;
}
.exam-img {
  width: 90%;
  height: 40%;
  border-radius: 16px;
}
